
<div class="full-screen">
  <h1>We can build something together</h1>
  <%=image_tag("larryc.jpg", alt: "Larry Cherry")%>
  <ul>
    <li><a href="#"><%=icon("envelope-square")%></a></li>
    <li><a target="_blank" href="http://linkedin.com/in/larry-cherry"><%=icon("linkedin-square")%></a></li>
    <li><a target="_blank" href="http://twitter.com/larry"><%=icon("twitter-square")%></a></li>
    <li><a target="_blank" href="http://github.com/larry-cherry"><%=icon("github-square")%></i></a></li>
  </ul>
  <p>I am a web developer looking for a new challenge. I am proficient in Ruby, Javascript, Agile development, Test driven development, and Git workflow.</p>
</div>
<p>test</p>
