<!DOCTYPE html>
<html>
  <head>
    <title>PersonalWebsite</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <div class="container-fluid">
        <div class="nav-wrapper">
          <%= link_to "Larry Cherry", root_path, class: "brand-logo"%>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="https://github.com/larry-cherry"><%=icon('github')%></a></li>
            <li><a href="https://www.linkedin.com/in/larry-cherry/"><%=icon('linkedin')%></a></li>
            <li><a href="collapsible.html"><%=icon('list')%></a></li>    
          </ul> 
        </div>
    </nav>
    <%= yield %>
    </div>
  </body>
</html>
